<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Warn"
      internalLogFile="logs/internal-nlog.txt">

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>
		<!-- file target -->
		<target xsi:type="File"
				name="appLogfile"
				archiveNumbering="DateAndSequence"
				archiveAboveSize="5000000"
				fileName="logs/sgr-nlog-${shortdate}.log"
				layout="${longdate} | ${level:uppercase=true} |  ${message}  ${exception:format=tostring}"
        />
		<!-- console target -->
		<target xsi:type="Console" name="logconsole" layout="${MicrosoftConsoleLayout}"/>
	</targets>

	<rules>
		<!-- all warnings and above go to the file target -->
		<!--Trace Debug Info Warn Error Fatal-->
		<logger name="*" minlevel="Info" writeTo="logconsole" />
		<logger name="*" minlevel="Info" writeTo="appLogfile" />
	</rules>

</nlog>